<!-- ============================================ -->
<!--                 FOOTER                       -->
<!-- ============================================ -->
<footer id="footer">
    <div class="container">
        <div class="content"> 
            <div class="top-footer">
                <a href="/" aria-label="back to home"> <img class="footer-logo" src="/assets/images/logo-footer.png" alt="Ninsa logo" loading="lazy" decoding="async" width="300" height="140"></a>
            </div>
            <div>
                <ul>
                    <li><h2>More Info</h2></li>
                    <li><a href="/" class="hover-highlight">Home</a></li>
                    <li><a href="/about-us/" class="hover-highlight">About Us</a></li>
                    <li><a href="/gallery/" class="hover-highlight">Gallery</a></li>
                    <li><a href="/contact/" class="hover-highlight">Contact Us</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><h2>Services</h2></li>
                    <li><a href="/summer-and-fall-salmon/" class="hover-highlight">Salmon</a></li>
                    <li><a href="/sturgeon/" class="hover-highlight">Sturgeon</a></li>
                    <li><a href="/bottom-fish/" class="hover-highlight">Bottom Fish</a></li>
                    <li><a href="/winter-steelhead/" class="hover-highlight">Steelhead</a></li>
                    <li><a href="/nehalem-bay-crabbing/" class="hover-highlight">Crabbing</a></li>
                    <li><a href="/shad-fishing/" class="hover-highlight">Shad</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><h2>Contact Info</h2></li>
                    <li class="contact-v2">
                        <a href="tel:{{client.phoneForTel}}">
                            <img loading="lazy" aria-hidden="true" decoding="async" src="/assets/svgs/phone-icon.svg" alt="phone icon" width="20" height="20">
                            <span class="hover-highlight">{{client.phoneFormatted}}</span>
                        </a>
                    </li>
                    <li class="contact-v2">
                        <a href="mailto:{{client.email}}">
                            <img loading="lazy" aria-hidden="true" decoding="async" src="/assets/svgs/mail-icon.svg" alt="mail icon" width="20" height="20">
                            <span class="hover-highlight">{{client.email}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="credit">
            <span>
                © Copyright <span id="current-year"></span> - Designed & Developed by
                <a href="https://www.tacomawebdesignandseo.com/" class="hover-highlight" target="blank">Tacoma Web Design and SEO</a>
            </span>
        </div>
    </div>
</footer>