---
title: 'Hammerhead Guide Service of Portland, Oregon'
description: 'Jason Rice - Hammerhead Guide Service fishing throughout Oregon. Salmon, Steelhead, Smallmouth Bass, Sturgeon and other species.'
preloadImg: ''
permalink: 'about-us/'
eleventyNavigation:
    key: About Us
    order: 250
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/services.css">
    <link rel="stylesheet" href="/css/about-us.css">
    <link rel="stylesheet" href="/css/gallery.css">
{% endblock %}

{% block body %}


{% endblock %}