---
title: 'Nehalem Bay Salmon Fishing | Hammerhead Fishing Guide'
description: 'Dive into the exhilarating world of Salmon fishing in Nehalem Bay with Hammerhead Guide Service.
Experience tailored trips during Summer and Fall, promising both adventure and a bountiful catch.'
preloadImg: ''
permalink: 'salmon/'
eleventyNavigation:
key: Salmon
parent: Services
order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/salmon.css">
<link rel="stylesheet" href="/css/services.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                salmon-hero                     -->
<!-- ============================================ -->
<section id="salmon-hero" class="services-hero">
    <div class="Section_top">

        <picture>
            <source srcset="/assets/images/salmon-hero.webp" type="image/webp">
            <img src="/assets/images/salmon-hero.jpg" alt="Nehalem Bay Salmon Fishing" class="hero-image">
        </picture>
        <div class="tint"></div>
        <div class="content">
            <h1 class="cs-hero-title">
                Nehalem Bay<br><span class="second-line">Salmon Fishing</span>
            </h1>
            <p class="cs-text">Dive into the vibrant world of Salmon fishing in Nehalem Bay, where seasoned anglers and
                beginners alike come together for an unforgettable experience with Hammerhead Guide Service.</p>
            <div class="two-buttons">
                <a href="/contact/" class="button-solid">Contact Us</a>
                <a href="#price-section" class="button-solid price-btn">Pricing</a>
            </div>
        </div>
    </div>
</section>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // Get the button with the class "price-btn"
        const button = document.querySelector('.price-btn');

        if (button) {
            // Add a click event listener to the button
            button.addEventListener('click', (event) => {
                event.preventDefault(); // Prevent the default button behavior
                const targetId = button.getAttribute('href'); // Get the target section id

                // Get the target section element
                const targetElement = document.querySelector(targetId);

                if (targetElement) {
                    // Calculate the offset by subtracting the desired offset value (in pixels)
                    // from the element's offsetTop
                    const offset = targetElement.offsetTop - 50; // Replace 'yourOffsetValue' with the desired offset value

                    // Scroll smoothly to the target section with the offset
                    window.scrollTo({
                        top: offset,
                        behavior: 'smooth'
                    });
                }
            });
        }
    });
</script>



<!-- ============================================ -->
<!--                 Our Services                 -->
<!-- ============================================ -->
<section id="services" class="cs-section">
    <div class="cs-container">
        <div class="service-content">
            <!-- Replace the content within each service section -->
            <div id="salmon-overview" class="service">
                
                    <picture class=" picture">
                        <source media="(max-width: 699px)" srcset="/assets/images/service-salmon.webp">
                        <source media="(min-width: 700px)" srcset="/assets/images/service-salmon.webp">
                        <img decoding="async" loading="lazy" src="/assets/images/service-salmon.png" alt="" width="720"
                            height="693">
                    </picture>
                <div class="text-content">
                    <span class="topper">Overview</span>
                    <h3 class="cs-sub-title">Salmon Guide <span class="text-highlight">Service</span></h3>
                    <p class="cs-text">Welcome to Salmon Fishing Guide, your ultimate gateway to an exhilarating world
                        of angling excitement. Embark on a journey where the shimmering waters of pristine rivers and
                        the challenge of the wild collide, offering you the chance to reel in the ultimate catch – the
                        majestic salmon. </a></p>
                    <ul class="cs-text">
                        <li>Join our seasoned guides who are not only passionate about salmon fishing</li>
                        <li>Immerse yourself in the tranquility of unspoiled rivers and breathtaking landscapes</li>
                        <li>Whether you're a novice or a seasoned angler, our guides tailor each expedition to match
                            your skill level</li>
                    </ul>
                </div>
            </div>
            <!-- <div id="booking" class="service">

            </div> -->
            <!-- <div id="book" class="service">

            </div> -->
        </div>
    </div>
</section>
<section id="services" class="cs-section">
    <div class="cs-container">
        
            <!-- Replace the content within each service section -->
            <div id="booking" class="service">

                <div class="text-content">
                    <span class="cs-sub-title">Book Our Services</span>

                    <p class="cs-text">Maecenas ornare neque lacinia facilisis accumsan. Quisque auctor ut tortor semper tempor. </a></p>
                    <a href="/contact/" class="button-solid">Contact Us</a>
                </div>
                <div class="image-1"></div>

            </div>

       
    </div>
</section>
<section id="services" class="cs-section">
    <div class="cs-container">
            <h2 class="cs-title" style="text-align: center;">Pricing &<span> Packages</span></h2>
            <!-- Replace the content within each service section -->
            <div id="packages" class="service">

                <div class="package-item">
                    <span class="length">Full Day</span>
                    <p class="price cs-sub-title green" >$150 <span>20% discount</span></p>
                    <p class="sub-text">Praesent sit amet sagittis tellus, ac aliquam lacus.</p>
                </div>
                <div class="package-item">
                    <span class="length">Half-Day</span>
                    <p class="price cs-sub-title" >$300 <span>20% discount</span></p>
                    <p class="sub-text">Praesent sit amet sagittis tellus, ac aliquam lacus.</p>
                </div>
                <div class="package-item special " style="background-color: #25082d;">
                    <span class="length2">Special Package</span>
                    <p class="price cs-sub-title" style="color: white;">$450 <span class="light">20% discount</span></p>
                    <p class="sub-text2">Praesent sit amet sagittis tellus, ac aliquam lacus.</p>
                </div>


            </div>

       
    </div>
</section>
{% endblock %}