$purple: #25082d;

/*-- -------------------------- -->
<---      salmon-hero           -->
<--- -------------------------- -*/
#salmon-hero .Section_top .hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#salmon-overview {
  display: flex;
  flex-direction: row;
  flex-grow: fit;
  justify-content: center;
  .cs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .text-content {
    max-width: 700px;
    padding: 0px 10px;
    .list{
      list-style-type: none;
    }
    .list li::before {
      content: "•"; /* Use a custom bullet point (in this case, a black dot) */
      color: #049A4B; /* Set the bullet point color to green */
      font-size: 25px; /* Adjust the bullet point size */
      margin-right: 8px; /* Add spacing between the bullet point and text */
    }
  }
  
  .image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
    font-size: min(2vw, .8em);
    width: calc(779 / 16 * 1em);
    height: calc(542 / 16 * 1em);
    display: block;
    position: relative;
    z-index: 1;
    gap: 8px;
  
    .cs-picture {
        position: absolute;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            overflow: visible;
        }
    }
    .cs-picture1 {
        width: calc(779 / 16 * 1em);
        height: calc(542 / 16 * 1em);
        top: 0;
        left: 0;
    }
  
  }
}
@media only screen and (max-width: 1024px) {
  #salmon-overview {
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    .cs-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    
    .text-content {
      max-width: 700px;
    }
    
    .image-group {
      /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
      font-size: min(2vw, .8em);
      width: calc(779 / 16 * 1em);
      height: calc(542 / 16 * 1em);
      display: block;
      position: relative;
      z-index: 1;
      gap: 8px;
    
      .cs-picture {
          
          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: auto;
              top: 0;
              left: 150px;
              display: relative;
              overflow: visible;
          }
      }
      .cs-picture1 {
          width: calc(300 / 16 * 1em);
          height: calc(542 / 16 * 1em);
          top: 0;
          left: 0;
      }
    
    }
  }
}


#salmon-location {
  .image-group {
    width: calc(598 / 16 * 1em);
    height: calc(536 / 16 * 1em);

    .cs-picture1 {
      width: calc(598 / 16 * 1em);
      height: calc(536 / 16 * 1em);
    }
  }
}

#salmon-bring {
  .image-group {
    width: calc(747 / 16 * 1em);
    height: calc(690 / 16 * 1em);

    .cs-picture1 {
      width: calc(747 / 16 * 1em);
      height: calc(690 / 16 * 1em);
    }
  }
}

#booking {
  background-color: $purple;
  height: 300px;
  width: 100%;
  border-radius: 27px;
  display: flex;
  background-image: url("/assets/images/bg-interview.png");
  background-position: 100px;
  background-repeat: no-repeat;

  align-items: center;
  justify-content: space-between;

  .text-content {
    
    margin-left: 40px;

    .cs-sub-title {
      color: white;
    }
    .cs-text {
      color: white;
      font-size: 20px;
      font-weight: medium;
    }
  }
}

#packages {
  background-color: rgba(217, 217, 217, 0.36);

  border-radius: 20px;
  display: flex;
  flex-flow: row;
  // width: 100%;
  padding: 50px;
  gap: 15px;
  justify-content: center;
  height: 315px;

  .package-item {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    flex-flow: column;
    height: 100%;
    border-radius: 25px;
    background-color: white;
    .length {
      font-size: 20px;
      font-weight: bold;
      font-family: "Quicksand";
      color: #145FA4;
    }
    .length2 {
      color: white;
    }
    .price {
      font-size: 40px;
      span {
        font-size: 14px;
        color: black;
        font-family: "quicksand";
        text-transform: lowercase;
      }
      .light {
        color: white;
      }
    }
    .sub-text {
    }
    .sub-text2 {
      color: white;
    }
  }
}
@media only screen and (max-width: 1024px) {
  #booking{
    background-position: 0px;
  }
  #packages{
    display: flex;
    flex-direction: column;
    height: fit-content;
    .package-item {
      padding: 20px 20px;
    }
  }

}

.cs-title {
  span {
    color: #049a4b;
  }
}

.green {
  color: #049a4b;
}
