/*-- -------------------------- -->
<---         services-hero      -->
<--- -------------------------- -*/

.services-hero {
    height: 700px;
    .Section_top{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        justify-content: center;
        animation: change 30s infinite ease-in-out;
    }
    
    .tint {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
    }
    .Section_top::before {
        content: "";
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        max-width: 1156px;
        height: 60%;
        background: rgba(0, 0, 0, 0.6);
        filter: blur(90px); 
    }
    
    .content {
        padding-top: 100px;
        padding-left: 16px;
        padding-right: 16px;
        max-width: 900px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .cs-text {
            color: #fff;
            font-weight: 500;
        }
    }
    
}

@media only screen and (min-width: 700px) {

    .services-hero {
        .content {
            padding-top: 20px;
        }
    }

}

@media only screen and (min-width: 1024px) {

    .services-hero {
        height: 800px;
        .content {
            padding-top: 0px;
        }

        .Section_top::before {
            top: 50%;
            left: 50%;
            width: 70%;
            height: 80%;
            border-radius: 50%;
        }
    }
}